
/*.intro {
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: fadeIn 0.8s 0.4s ease forwards;
}*/
/*.intro .title {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  text-decoration: underline;
  color: #e83f43;
}
.intro .title .underline {
  color: #232323;
}*/
/*.description {
  position: relative;
  z-index: 1;
  margin: 1rem 0 1.5rem 0;
  font-size: 1rem;
  opacity: 0;
  animation: fadeIn 0.8s 0.6s ease forwards;
}*/


/*.controls {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0 0.25rem 0;
}
.controls .previous {
  border: 1px solid #232323;
}
.controls .previous:hover i {
  transform: scale(1.5);
}
.controls .next {
  border-top: 1px solid #232323;
  border-right: 1px solid #232323;
  border-bottom: 1px solid #232323;
}
.controls .next:hover i {
  transform: scale(1.5);
}
.previous, .next {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-basis: 15%;
  font-size: 2rem;
  color: #232323;
}
.previous i, .next i {
  transition: all 0.1s ease;*/
}
/*.active .image-holder::before {
  position: absolute;
  content: '';
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: 100% 50%;
  animation: fadeIn 1s cubic-bezier(0.23, 1, 0.75, 1) forwards;
}*/




