
* {
  box-sizing: border-box;
}


h1, h2, h3, h4, p {
  font-family: "Poppins", sans-serif;
  color: #362B27;
}

h2 {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (min-width: 576px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  color: #574E4B!important;
  font-size: 1.15em;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.5em;
}

@media (min-width: 576px) {
  h3 {
    font-size: 26px;
  }
}

p {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7em;
  text-align:justify!important;
  text-justify: inter-word!important;
}

html {
  scroll-behavior: smooth;
}

body {
 background-color: #FBFAFA;
 font-family: "Poppins", sans-serif;
 margin: 0;
 font-size: 15px;
}

@media (min-width: 576px){
  body {
    font-size: 16px;
  }
}
section {
/*  height: 100vh;
*/  background-color: #FBFAFA;
}

.flex-container {
  display: block
}

@media (min-width: 576px) {
  .flex-container {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  }
}
.button {
  font-size: 13px!important;
  font-weight: bold;
  outline: none;
  padding: 20px 20px;
/*  padding: 15px 25px;
*/  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 400;
  cursor: not-allowed;
}

@media (min-width: 576px) {
  .button {
    font-size: 15px;
    padding: 20px 35px;
    font-size: 0.875em;
  }
}

.container {
  margin-top: 2em;
  margin-bottom: 1em;
}

.responsive {
  display: none;
}

@media (min-width: 576px) {
  .responsive {
    display: inline;
  }
}

/* ==================================================
   Section 1
================================================== */

.section-1 {
  background: #E66831;
  height: 70vh;
  position: relative;
}

@media (min-width: 576px) {
  .section-1 {
    height: 90vh;
  }
}
.menu {
  text-align:right;
  position: relative;
  max-width: 96%;
  padding-top: 0.5em;
  padding-right: 0.5em;
  margin: 0 auto;
}

.menu a, a:hover, a:active a:link, a:visited {
  text-decoration: none!important;
}

.menu .link {
  display: inline-block;
  padding: 5px 0 5px 0;
  margin: 0 6px;
  position: relative;
}

@media (min-width: 768px) {
  .menu .link {
    display: inline-block;
    padding: 10px 0 10px 0;
    margin: 10px 15px;
    position: relative;
  }
}

.menu .link p {
  font-family: 'rubik', sans-serif;
  font-size: 13.5px!important;
  font-weight: 400;
  color: #FBFAFA;
  text-decoration: none;
  margin: 0px;
}

@media (min-width: 768px) {
  .menu .link p {
    margin-bottom: 0;
    font-size: 15px;
    text-transform: uppercase;
  }
}

a, a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
}
a:before, a > span:before, a:after, a > span:after {
  content: '';
  position: absolute;
  transition: transform 0.5s ease;
}

.link:before {
  left: 0;
  margin-bottom: 5px;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #FBFAFA;
  transform: scaleX(0);
}
.link:hover:before {
  transform: scaleX(1);
}


.heading-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
.heading-wrapper {
    position: absolute;
    top: 30%;
    left: 15%;
  }
}

.heading-wrapper h2 {
  letter-spacing: 2.2px;
  font-size: 1.1em;
  word-spacing: 2.5px;
  text-transform: uppercase;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

@media (min-width: 768px) {
  .heading-wrapper h2 {
    font-size: 1.8em;
    letter-spacing: 5.5px;
    word-spacing: 2px;
    text-transform: uppercase;
  }
}

.heading-wrapper img {
  width: 250px;
  height: auto;
}

@media (min-width: 768px) {
  .heading-wrapper img {
    width: 60%;
  }
}
.sub-wrapper {
  display: none;
}

@media (min-width: 576px) {
  .sub-wrapper {
    display: inline;
    position: absolute;
    bottom: 20%;
    left: 15%;
    max-width: 36%;
    }
}

.sub-wrapper p {
  font-weight: 300;
  font-size: 10.5px;
  color: #FBFAFA!important;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: left!important;
}
@media (min-width: 576px) {
  .sub-wrapper p {
    font-weight: 300;
    font-size: 12.5px;
    color: #FBFAFA!important;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    text-align: left!important;
  }
}

.section-1 > img {
  position: absolute;
  right: 2%;
  top: 60%;
  z-index: 2;
  width: 170px;
  height: auto;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

@media (min-width: 576px) {
  .section-1 > img {
    position: absolute;
    right: 8%;
    top: 20%;
    z-index: 2;
    width: 25%;
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}

@media (min-width: 992px) {
  .section-1 > img {
    position: absolute;
    right: 8%;
    top: 20%;
    width: 40%;
    z-index: 2;
  }
}


/* ==================================================
   Section 2
================================================== */

.section-2 {
  background: #FBFAFA;
  position: relative;
  z-index: 1;
  max-width: 85vw;
  margin: 0 auto 3% auto;
}

.section-2 h3 {
  margin-bottom: 0!important;
}

.section-2 hr {
  max-width: 15%;
  margin-left: 0;
  margin-top: -8px;
  border: 2px solid #E66831;
}

@media (min-width: 576px) {
  .section-2 hr {
    max-width: 10%;
    margin-left: 0;
    margin-top: -12px;
    border: 2px solid #E66831;
  }
}
.section-2 .flex-container {
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
.section-2 .flex-container {
  max-width: 85%;
  }
}

.text-wrapper {
  max-width: 60%;
  margin: 0 auto;
  text-align:center;
}

.section-2 .flex-container__content {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .section-2 .flex-container__content {
    max-width: 50%;
  }
}

.section-2 span {
  font-size: 15px;
}

.section-2 .flex-container__img {
  visibility: hidden;
}

@media (min-width: 576px) {
  .section-2 .flex-container__img {
    visibility: visible;
    position: relative;
    width: 50%;
    margin: 1em 2.4em;
  }
}
.section-2 .flex-container__img h4 {
  font-size: 2.4em;
  font-weight: 700;
  position: absolute;
  opacity: 0.8;
  top: 33%;
  left: 3%;
  z-index: -1;
  color: #e8ddce;
  margin: 0;
  padding: 0;
}

.section-2 .flex-container img {
  position: absolute;
  top: 48%;
  left: 20%;
}

/* ==================================================
   Section 3
================================================== */
.section-3 {
  background: #EAE3D8;
  position: relative;
}


.section-3:before {
  height: 20px;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: -20px;
  background: linear-gradient(45deg, #EAE3D8 10px, transparent 0), linear-gradient(315deg, #EAE3D8 10px, transparent 0);
  background-repeat: repeat-x;
  background-size: 20px 20px;
}

.section-3::after {
  height: 20px;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -20px;
  background: linear-gradient(135deg, #EAE3D8 10px, transparent 0), linear-gradient(225deg, #EAE3D8 10px, transparent 0);
  background-size: 20px 20px;
}

.section-3 h4 {
  font-size: 1.1em;
  color: #362B27;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.section-3 .flex-container {
  padding: 5vw 7.5vw;
}

@media screen and (max-width: 768px) {
 .section-3 .holder {
    width: 100%;
  }
}

.section-3 .flex-container__column {
  text-align: center;
  width: 100%;
  padding: 0em;
  padding-top: 10px;
}

@media (min-width: 576px) {
  .section-3 .flex-container__column {
    text-align: center;
    width: 33.33%;
    padding: 0em 2em 0em 2em;
  }
}
.section-3 .flex-container__column img {
  max-width: 20%;
  margin: auto;
  align-items: center;
}

/* ==================================================
   Section 4
================================================== */
.section-4 {
  height: 190vh!important;
  position: relative;
}

.section-4 .container {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-4 .container > h2 {
  text-align: center;
}

.section-4 p {
  font-size: 14px;
  font-weight: 300;
}

.slider {
  width: 80%;
  height; auto;
  background-color: #FBFAFA;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  display: none;
}

.active {
  display: block;
}

.slider h4 {
  visibility: hidden;
  position: absolute;
  top: 0%;
  left: 2%;
  color: #F27232;
  font-weight: 400;
  z-index: 2;
  opacity: 0;
  animation: fadeIn 0.8s 0.4s ease forwards;
}

.slider__image img {
  max-width: 100%;
  max-height: 100%;
}

.slider__image {
  width: 100%;
  height: auto;
  opacity: 0;
  animation: fadeIn 0.8s 0.4s ease forwards;
}

.slider__content {
  width: 100%;
  position: relative;
  padding: 2% 5% 2% 5%;
}

.slider__content h2 {
  margin: 0;
}

.slider__content .title {
  font-weight: 400;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: normal;
}

.slider__content .title-h2 {
  font-weight: 500;
  letter-spacing: normal;
  text-transform: none;
}

.slider__content .button {
  display: none;
}

.arrow {
  position: absolute;
  padding: 5px;
  margin: 20px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #362B27;
  border-right: 1px solid #362B27;
}

.arrow-left {
  transform: rotate(-135deg);
  left: 10%;
  top: 92%;
}

.arrow-right {
  transform: rotate(45deg);
  right: 10%;
  top: 92%;
}

.arrow:active {
  border-top: 3px solid #40332e;
  border-right: 3px solid #40332e;
}

button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20%;
  border: 1px solid #B3ABA8;
  padding: 20px 20px;
  margin: auto;
  background-color: #B3ABA8;
  border: none;
  opacity: 0.2;
}

button:focus {
  outline:0;
}

.select {
  position: relative;
  display: inline-block;
  width: 45%;
  margin-top: 7%;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #362B27;
  border: 1px solid #B3ABA8;
}

@media (min-width: 768px) {
  .select {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .select {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .select {
    width: 30%;
  }
}

.select p {
  font-size: 13px;
}

.select__current {
  position: relative;
/*  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
*/  cursor: pointer;
  outline: none;
}

.select__current:focus + .select__list {
  opacity: 1;
  animation-name: none;
  z-index: 2;
}

.select__current:focus + .select__list .select__option {
  cursor: pointer;
}

.select__current:focus .select__icon {
  visibility: hidden;
}

.select__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 10px;
  opacity: 0.3;
  transition: 0.2s ease;
}

.select__value {
  display: flex;
}

.select__input {
  display: none;
}

.select__input:checked + .select__input-text {
  display: block;
  font-size: 14px;
  background: #FBFAFA;
  padding: 10px 7px 10px 7px;
}

.select__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}

.select__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.select__option {
  display: block;
  padding: 10px;
  background-color: #fff;
}

.select__option:hover, .select__option:focus {
  background-color: #f2f1f1;
}

.section-4 hr {
  max-width: 10%;
  margin-left: 0px;
  margin-bottom: 0px;
}


@media (min-width: 576px){

  .section-4 {
    height: 130vh!important;
  }

  .section-4 p {
    font-size: 15px;
  }

  .slider {
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  .slider h4 {
    visibility: visible;
    top: 0.5%;
    left: 2%;
  }

  .section-4 hr {
    margin-bottom: 40px;
  }

  .slider__image {
    width: 50%;
  }

  .slider__content {
    width: 50%;
    padding: 2% 5% 2% 5%;
  }

  .slider__content .title {
    font-size: 20px;
  }

  .slider__content .title-h2 {
    font-weight: 400;
    font-size: 28px;
  }

  .slider__content .button {
    display: inline;
  }

  .active {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  }

  .arrow {
    padding: 5px;
    margin: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #362B27;
    border-right: 2px solid #362B27;
  }

  .arrow-left {
    left: 5%;
    top: 50%;
  }

  .arrow-right {
    right: 5%;
    top: 50%;
  }

  button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    text-transform: uppercase;
    font-weight: 300!important;
    padding: 20px 20px;
    color: #fff;
    margin: auto;
    font-size: 13px;
    font-weight: 500;
    background-color: #B3ABA8;
    border: none;
    opacity: 0.4;
  }

  .select {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 7%;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #362B27;
    border: 1px solid #B3ABA8;
  }

  .select__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
  }

  .select__input:checked + .select__input-text {
    display: block;
    font-size: 14px;
    background: #FBFAFA;
    padding: 10px 7px 10px 7px;
  }

  .select__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
  }

  .select__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  }

  .select__option {
    display: block;
    padding: 10px;
    background-color: #fff;
  }

  .select__option:hover, .select__option:focus {
    background-color: #f2f1f1;
  }
}



 @media (min-width: 768px) {
    .select {
      width: 70%;
    }
  }
  @media (min-width: 992px) {
    .select {
      width: 50%;
    }
  }
  @media (min-width: 1200px) {
    .select {
      width: 30%;
    }
  }


@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes revealRight {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* ==================================================
   Section 5
================================================== */
.section-5 {
  position: relative;
  background: #EAE3D8;
  margin: 0;
  padding: 0;
}

.section-5 .container {
    max-width: 85vw;
    margin: 0 auto;
}

.section-5:before {
  height: 20px;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: -20px;
  background: linear-gradient(45deg, #EAE3D8 10px, transparent 0), linear-gradient(315deg, #EAE3D8 10px, transparent 0);
  background-repeat: repeat-x;
  background-size: 20px 20px;
}

.section-5 h2 {
  padding-top: 5%;
  text-align: center;
}

.section-5 input {
  line-height: normal;
}

.section-5 textarea {
  overflow: auto;
}

.section-5 .form-wrapper {
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}

.section-5 form {
  padding: 0 0;
  margin: 0 0;
}

/*.underline {
  border-bottom: solid px #362B27;
  margin: -0.512em auto;
  width: 80px;
}*/

.section-5 .email {
  float: right;
  width: 45%;
}

.section-5 .name {
  float: left;
  width: 45%;
}

.section-5 input[type='text'], [type='email'], select, textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #362B27;
  color: #362B27;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 2.5em 0;
  padding: 0 0 0.5em 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

 @media (min-width: 768px) {
  .section-5 input[type='text'], [type='email'], select, textarea {
    padding: 0 0 1em 0;
  }
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
  outline: none;
}

.section-5 .message {
  float: none;
  padding-bottom: 2.5em;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
  border: solid 2px #362B27;
  padding: 10px;
}

::-webkit-input-placeholder {
  color: #362B27;
}

:-moz-placeholder {
  color: #362B27;
  opacity: 1;
}

::-moz-placeholder {
  color: #362B27;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #362B27;
}

.section-5 button, .section-5 input, .section-5 select, .section-5 textarea {
  color: #362B27;
  font: inherit;
  margin: 0;
}

.section-5 button {
  overflow: visible;
}

.section-5 button, select {
  text-transform: none;
}

#form_button {
  background: none;
  border: solid 2px #362B27;
  color: #362B27;
  cursor: pointer;
  padding: 20px 40px!important;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: #362B27;
  color: #FBFAFA;
}

/*@media screen and (max-width: 480px) {

  .underline {
    width: 68px;
  }

@media screen and (max-width: 420px) {

  .underline {
    width: 53px;
  }

  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}*/

.footer {
   font-family: "poppins", sans-serif;
   font-size: 12px;
   padding: 15px;
   margin-top: 20px;
   text-align: center;
   letter-spacing: 2px;
}

@media (min-width: 576px) {
.footer {
   font-size: 14px;
}

/*footer .wrapper {
  padding: 20px 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
footer p {
  font-size: 13px;
  color: #98999A;
  width: 100%;
  text-align: right!important;
}*/


/* -----------------------------------------------------------------
*/


/* -----------------------------------------------------------------
*/
