h1, h2, h3, h4, p {
  font-family: "Poppins", sans-serif;
  color: #362B27;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 5%;
  margin-bottom: 5%;
}
h4 {
  font-size: 1.1em;
  color: #E66831;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

p {
  font-weight: 300;
  font-size: 15px;
/*  line-height: 1.5em;
*/  text-align:justify!important;
  text-justify: inter-word!important;
}

html {
  scroll-behavior: smooth;
}

body {
 background-color: #FBFAFA;
}
section {
  height: 100vh;
}


img .icon {
  height: 30%;
  width: auto;
}
.section-1 {
  background: #E66831;
  height: 90vh;
}

.container {
  margin-top: 5%;
}

.flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.menu {
  text-align:right;
  position: relative;
  max-width: 96%;
  padding-top: 1em;
  margin: 0 auto;
}

.menu a, a:hover, a:active a:link, a:visited {
  text-decoration: none!important;
}

.menu .link {
  display: inline-block;
  padding: 10px 0 10px 0;
  margin: 10px 4px;
  position: relative;
}
@media (min-width: 768px) {
  .menu .link {
    display: inline-block;
    padding: 10px 0 10px 0;
    margin: 10px 15px;
    position: relative;
  }
}

.menu .link p {
  font-family: 'rubik', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #F2F6F6;
  text-decoration: none;
  margin: 0px;
}

@media (min-width: 768px) {
  .menu .link p {
    font-size: 15px;
  }
}

.menu .link .bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  border-bottom: 2px solid #F2F6F6;
  opacity: 0;
  z-index: 6;
}

.menu .link:hover .bar {
  opacity: 1;
  bottom: 5px;
}

.heading-wrapper {
    position: absolute;
    top: 30%;
    left: 15%;
/*    border: 1px solid;
*/}

.heading-wrapper h2 {
  letter-spacing: 5.5px;
  word-spacing: 2px;
  text-transform: uppercase;
/*  text-justify:inter-word;
*//*  text-align: center;
*/}
.heading-wrapper img {
  width: 60%;
}

.sub-wrapper {
  position: absolute;
  bottom: 20%;
  left: 15%;
  max-width: 36%;
}
.sub-wrapper p {
  font-weight: 300;
  font-size: 12.5px;
  color: #F2F6F6;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  text-align: left!important;
}

.section-1 .img-holder {
  position: absolute;
  right: 8%;
  top: 20%;
/*  z-index: 2;
*/}

.section-1 .img-holder img {
  max-width: 95%;
}

.divider__square, .nav__square {
  width: 8px;
  height: 8px;
  background-color: #362B27;
  display: inline-block!important;
  margin: 3px;

}

/*SECTION 2
*/

.section-2 {
  background: #FBFAFA;
  position: relative;
  height: 90vh;
  z-index: 1;
}

/*.section-2::after {
  content: "";
  display: block;
  height: 30px;
  z-index: -1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(225deg, #fff 15px, transparent 0) 0 15px,
              -webkit-linear-gradient(315deg, #fff 15px, transparent 0) 0 15px;
  background: linear-gradient(-135deg, #fff 15px, transparent 0) 0 15px,
              linear-gradient( 135deg, #fff 15px, transparent 0) 0 15px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 40px 40px;
}*/

/*.section-2 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
*/

/*.section-2 .card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/

.text-wrapper {
  max-width: 60%;
  margin: auto;
  text-align:center;
}

.text-wrapper p {
  text-align: center;
  line-height: 1.5em;
}

.section-2 .img-holder {

}

/*SECTION 3
*/
.section-3 {
  background: #362B27;
  height: 60vh;
  position: relative;
/*  z-index: 1;*/
}

.section-3::before {
  content: "";
  display: block;
  height: 30px;
  z-index: -1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(225deg, #362B27 15px, transparent 0) 0 15px,
              -webkit-linear-gradient(315deg, #362B27 15px, transparent 0) 0 15px;
  background: linear-gradient(-135deg, #362B27 15px, transparent 0) 0 15px,
              linear-gradient( 135deg, #362B27 15px, transparent 0) 0 15px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 40px 40px;
}

* {
  box-sizing: border-box;
}
.section-3 .container {
  padding-top: 2em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  height: 100%;
}

@media screen and (max-width: 768px) {
 .section-3 .holder {
    width: 100%;
  }
}

.section-3 .holder {
  text-align: center;
  width: 33.33%;
  padding: 0em 2em 0em 2em;

}

.section-3 .holder img {
  max-width: 20%;
  margin: auto;
  align-items: center;
}

.section-3 p {
  color: #EFEEEE;
}
/*.row:after {
  content: "";
  display: table;
  clear: both;
} to clear floats after column*/

/*.section-3::after {
  content: "";
  display: block;
  height: 30px;
  z-index: -1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(225deg, #F4DFC9 15px, transparent 0) 0 15px, -webkit-linear-gradient(315deg, #F67826 15px, transparent 0) 0 15px;
  background: linear-gradient(-135deg, #F4DFC9 15px, transparent 0) 0 15px,
              linear-gradient( 135deg, #F4DFC9 15px, transparent 0) 0 15px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 30px 30px;
}

.section-2::after {
  content: "";
  display: block;
  height: 30px;
  z-index: -1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(225deg, #F4DFC9 15px, transparent 0) 0 15px, -webkit-linear-gradient(315deg, #F67826 15px, transparent 0) 0 15px;
  background: linear-gradient(-135deg, #F4DFC9 15px, transparent 0) 0 15px,
              linear-gradient( 135deg, #F4DFC9 15px, transparent 0) 0 15px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 30px 30px;
}*/

/*SECTION 4 */

.section-4 {
    background-color: #FBFAFA;

}
.section-4 .container {
  position: relative;
/*  border: 1px solid black;
*/  width: 100%;
  height: 120%;
}

.section-4 p {
  font-size: 15px;
  font-weight: 300;
}
/*.section-4 .wrapper {
  width: 100%;
  position: relative; do we need this
  border: 1px solid red;
 height: auto;
}*/
.slider {
  width: 80%;
  height; auto;
/*  box-shadow: 0 30px 40px -15px rgba(0, 0, 0, 0.35);
*//*  margin: auto;
*/background-color: #FBFAFA;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.slider h4 {
  position: absolute;
  top: 0.5%;
  left: 2%;
  font-weight: 400;
  z-index: 2;
  opacity: 0;
  animation: fadeIn 0.8s 0.4s ease forwards;
}
.slider__image {
  width: 50%;
  height: auto;
/*  object-fit: cover;
*/  opacity: 0;
  animation: fadeIn 0.8s 0.4s ease forwards;
}

.slider__image img{
}

.slider__content {
  width: 50%;
  position: relative;
  padding: 2% 5% 2% 5%;
/*  -webkit-flex: 1;
  flex: 1;*/
}

.slider__content .title {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

.slider__content h2 {
  margin-top: 0;
}

.slider__content .title--h2 {
  font-weight: 400;
}

.active {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.arrow {
  position: absolute;
  padding: 5px;
  margin: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #362B27;
  border-right: 2px solid #362B27;
}

.arrow-left {
  transform: rotate(-135deg);
  left: 5%;
  top: 50%;
}

.arrow-right {
  transform: rotate(45deg);
  right: 5%;
  top: 50%;
}

.arrow-left:hover {
/*  margin-left: 5px;
*/}
.arrow-right:hover {
/*  margin-left: 15px;
*/}

.arrow:active {
  border-top: 3px solid #40332e;
  border-right: 3px solid #40332e;
}

button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
  text-transform: uppercase;
  font-weight: 300!important;
  border: 1px solid #B3ABA8;
  padding: 20px 20px;
  color: #fff;
  margin: auto;
  font-size: 13px;
  font-weight: 500;
  background-color: #B3ABA8;
  border: none;
  opacity: 0.4;
/*  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);*/
}
/*button .button__text {
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}*/

button:focus {
  outline:0;
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 7%;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #362B27;
  border: 1px solid #B3ABA8;
}

@media (min-width: 768px) {
  .select {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .select {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .select {
    width: 30%;
  }
}

.select p {
  font-size: 13px;
}

.select__current {
  position: relative;
/*  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
*/  cursor: pointer;
  outline: none;
}

.select__current:focus + .select__list {
  opacity: 1;
  animation-name: none;
  z-index: 2;

}

.select__current:focus + .select__list .select__option {
  cursor: pointer;
}

.select__current:focus .select__icon {
  visibility: hidden;
}

.select__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}

.select__value {
  display: flex;
}

.select__input {
  display: none;
}

.select__input:checked + .select__input-text {
  display: block;
  font-size: 14px;
  background: #FBFAFA;
  padding: 10px 7px 10px 7px;
}

.select__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}

.select__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.select__option {
  display: block;
  padding: 10px;
  background-color: #fff;
}

.select__option:hover, .select__option:focus {
  background-color: #f2f1f1;
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

hr {
  max-width: 10%;
  margin-left: 0px;
  margin-bottom: 40px;
}


/*SECTION 5
*/

.contact {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.contact h2 {
  text-align: center;
}

.section-5 h4 {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

@media (max-width: 800px) {
  .contact h3 {
    width: 90%;
  }
}

.contact-form {
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .contact-form {
    width: 90%;
  }
}

.contact-row {
  width: 100%;
  border-bottom: 1px solid #000;
}

.contact-row:nth-of-type(1) {
  border-top: 5px solid #000;
}

.contact-info {
  display: inline-block;
  width: 49%;
  padding-bottom: 20px;
}

.contact-message {
  width: 100%;
}

.contact-info:nth-of-type(2) {
  margin-left: -5px;
  border-left: 1px solid #000;
}

.contact-label {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  padding-left: 10px;
  padding-top: 10px;
}

.contact-input {
  width: 100%;
  font-size: 20px;
  font-family: "Montserrat";
  border: 0;
  padding-left: 10px;
  background: none;
}

@media (max-width: 800px) {
  .contact-input {
    font-size: 14px;
  }
}

.inputMessage {
  width: 100%;
  font-size: 16px;
  height: 80px;
  padding-left: 10px;
  border: 0;
  resize: none;
  background: none;
}

@media (max-width: 800px) {
  .inputMessage {
    font-size: 12px;
    height: 140px;
  }
}

.contact-send {
  width: 100%;
  height: 50px;
  border: 1px solid #000;
}

#email-submit-btn {
  height: 50px;
  cursor: pointer;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 5px;
  -webkit-appearance: none;
}

*:focus {
  outline: none;
}

/*
.arrows {
  position: absolute;
  bottom: 0%;
  left: 10%;
  background: white;
  border: 1px solid black;
}
.arrow2 {
  padding: 5px;
  margin: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #362B27;
  border-right: 2px solid #362B27;
}

.arrow-left2 {
  transform: rotate(-135deg);
}

.arrow-right2 {
  transform: rotate(45deg);
}*/

/*.slider.active .hide-mobile {
  display: none;
}
.slider.active .show-mobile {
  display: block;
  margin: 1rem 0;
}*/
/* -----------------------------------------------------------------
*/


/* -----------------------------------------------------------------
*/
